<div id="cocktail_avatar">
  <% if @cocktail.photo.file.nil? %>
    <%= form_for @cocktail do |f| %>
      <%= f.file_field :photo do %>
        <i class="fa fa-plus" id="cocktail_add_photo_B"></i>
      <% end %>
      <%= f.file_field :photo_cache, type: :hidden %>
      <%= f.button :submit, id: "cocktail_add_photo_A" do %>
        <i class="fa fa-plus" id="cocktail_add_photo_B"></i>
      <% end %>
    <% end %>
  <% else %>
    <%= cl_image_tag @cocktail.photo, crop: :fill, style: "align: center;" %>
  <% end %>
</div>

<h1 style="margin-bottom: 40px;" id="cocktail_header"><%= @cocktail.name %></h1>

<p class="text-center">
  <strong>Ingredients: </strong>
</p>
<% @cocktail.doses.each do |dose| %>
  <p class="text-center">
    <%= dose.description %>
    <%= dose.ingredient.name %>
    <%= link_to [@cocktail, dose], :method => 'delete' do %>
      <i class="fa fa-trash-o"></i>
    <% end %>
  </p>
<% end %>
</br>


<div class="card" style="padding: 50px 0;">
  <h2>Add ingredient</h2>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <div class="text-center">
      <div style="display: inline-block;">
        <p style="font-weight: bold; text-align: left;">Dose</p>
        <%= f.input :description, label: false, collection: %w(5cl 10cl 20cl 30cl 40cl 50cl), prompt: "Dose" %>
      </div>
      <div style="display: inline-block;">
        <p style="font-weight: bold; text-align: left;">Ingredient</p>
        <%= f.input :ingredient_id, label: false, collection: @all_ingredients, prompt: "Select an ingredient"  %>
      </div>
      <div class="form-actions text-center">
        <%= f.button :submit, class: "btn btn-primary", value: "Add" %>
      </div>
    </div>
  <% end %>
</div>
